<mat-toolbar color="primary" class="no-wrap">
  <header class="w-100">
    <h1 class="text-center">
      <a routerLink="" class="no-link">
        <span i18n="project-name|The scope of the project@@project-name">
          Guida i18n per Angular
        </span>
        <br />
        <span i18n="store-name|The name of the cake-store@@store-name">
          Pasticceria da Peppino
        </span>
      </a>
    </h1>

    @if(showIcon()) {
    <a title="vai al carrello" aria-label="vai al carrello"
      i18n-aria-label="cart-icon|The text-helper for the icon cart@@carrello" i18n-title="@@carrello" routerLink="/cart"
      class="cart-icon" mat-button>
      <mat-icon [matBadgeOverlap]="false" matBadgeColor="accent" matBadgePosition="after"
        [matBadge]="items()">shopping_cart</mat-icon>
    </a>
    }
  </header>
</mat-toolbar>