<mat-toolbar color="primary" class="no-wrap">
  <header class="w-100">
    <h1 class="text-center">
      <a routerLink="" class="no-link">
        <span>
          Angular i18n tutorial
        </span>
        <br class="only-md" />
        <span>
          Pasticceria da Peppino
        </span>
      </a>
    </h1>

    @if(showIcon()) {
    <a routerLink="/cart" class="cart-icon" mat-button>
      <mat-icon [matBadgeOverlap]="false" matBadgeColor="accent" matBadgePosition="after"
        [matBadge]="items()">shopping_cart</mat-icon>
    </a>
    }
  </header>
</mat-toolbar>