<mat-card class="h-100 mat-typography ">
  <img class="img" mat-card-image [src]="product.imageUrl" [alt]="product.altText" />
  <mat-card-content>
    <div class="flex flex-row card-heading">
      <h3 class="mat-h3 bold color-primary m-0">{{product.name}}</h3>
      <p class="body-1 bold m-0">{{product.price | currency: '€'}}</p>
    </div>
    <p>{{product.description}}</p>
    <h4 class="bold color-primary m-0">Ingredienti:</h4>
    <mat-chip-listbox aria-label=" ingredienti">
      @for(ingredient of product.ingredients; track $index) {
      <mat-chip>{{ingredient | titlecase}}</mat-chip>
      }
    </mat-chip-listbox>
  </mat-card-content>
  <mat-card-actions class="flex flex-center">

    @if(!showQuantityInput()) {
    <button (click)="showQuantityInput.set(true)" mat-flat-button color="accent">
      <mat-icon>shopping_bag</mat-icon>
      <span class="btn-text">Ordina</span>
    </button>
    }

    @else {
    <mat-form-field class="quantity-input">
      <mat-label>
        Quantità
      </mat-label>

      <button class="action-btn" (click)="changeQuantity(-1)" disableRipple matIconPrefix mat-button color="accent">
        <mat-icon>remove</mat-icon>
      </button>

      <input readonly class="no-number-control" type="number" matInput [formControl]="quantityInput" />

      <button class="action-btn" (click)="changeQuantity(1)" disableRipple matIconSuffix mat-button color="primary">
        <mat-icon>add</mat-icon>
      </button>

      @if(quantityInput.hasError('max')) {
      <mat-error>Disponibilità: {{product.availability}}</mat-error>
      }
    </mat-form-field>
    }
  </mat-card-actions>
</mat-card>