@if(showLink()) {

<a class="order-link" routerLink="cart" color="primary" mat-flat-button>Vai all'ordine</a>
}
@else {
<h2 i18n="welcome-message|A invite to choose a product@@banner" class="text-center color-primary title">Ordina le tue
  torte preferite</h2>
}


<mat-card class="product-list-container mat-typography">
  <ng-container *ngIf="products$ | withLoading | async as products">

    @if (products.loading) {
    <div class="loader-wrapper">
      <mat-spinner></mat-spinner>
    </div>
    }

    @if (products.value) {

    <ul i18n-aria-label="@@products-list" aria-label="lista prodotti" class="product-list">
      @for (product of products.value; track product.id) {
      <ng-product-card class="self-center product" role="listitem" [product]="product" />
      }
    </ul>
    }
  </ng-container>
</mat-card>