<h2 class="text-center color-primary">Choose your favourite italian cake</h2>
<mat-card class="product-list-container mat-typography">
  <ng-container *ngIf="products$ | withLoading | async as products">

    @if (products.loading) {
    <div class="loader-wrapper">
      <mat-spinner></mat-spinner>
    </div>
    }

    @if (products.value) {

    <ul class="product-list">
      @for (product of products.value; track product.id) {
      <ng-product-card class="self-center product" role="listitem" [product]="product" />
      }
    </ul>
    }
  </ng-container>
</mat-card>