<h3 i18n="@@orderDialog-title" class="text-center" mat-dialog-title>
  Esito ordine
</h3>
<ng-container *ngIf="(response$ | withLoading | async) as response">


  @if(response.loading) {
  <mat-dialog-content class="flex flex-center">
    <mat-spinner color="primary"></mat-spinner>
  </mat-dialog-content>
  }

  @if(response.value) {
  <mat-dialog-content class="flex flex-center flex-col wrap">
    <img width="300" src="assets/shipment.svg" i18n-alt="@@orderDialog-shipmentAltText" alt="Ordine in transito">
    <p>La tue torte preferite arriveranno presto!</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">

    <button i18n="@@orderDialog-newOrderBtn" mat-flat-button color="primary" [mat-dialog-close]="true">Ordina
      ancora</button>

    <a class="no-link" i18n="@@orderDialog-github" color="accent" mat-flat-button
      href="https://github.com/dimolf345/i18n-tutorial">Bello questo
      progetto!</a>

  </mat-dialog-actions>
  }

  @if(response.error) {
  <mat-dialog-content class="flex flex-center flex-col wrap">
    <img width="300" src="assets/error.svg" i18n-alt="@@orderDialog-errorAltText" alt="Ordine in transito">
    <p i18="@@orderDialog-errorMessage">Ooops! Qualcosa è andato storto!</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">

    <button i18n="@@exiBtn" mat-flat-button color="primary" [mat-dialog-close]="true">Esci</button>

    <button i18n="@@retryBtn" (click)="retry()" class="no-link" color="accent" mat-flat-button>Riprova</button>

  </mat-dialog-actions>
  }
</ng-container>