@use "@angular/material" as mat;

$my-typography: mat.define-typography-config();
@include mat.typography-hierarchy($my-typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--text-dark);
}

:root {
  --color-primary: #3f51b5;
  --color-accent: #e91e63;
  --text-dark: #363030;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.flex {
  display: flex !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.grow {
  flex-grow: 1;
}

.no-link {
  color: inherit;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.color-primary {
  color: var(--color-primary);
}

.color-accent {
  color: var(--color-accent);
}

.bold {
  font-weight: 500 !important;
}

.m-0 {
  margin: 0 !important;
}

.self-center {
  justify-self: center;
}

//MATERIAL OVVERIDES
.mdc-button {
  min-width: auto !important;
}

.mat-icon {
  font-size: 20px !important;
  margin: 0 !important;
}
